@import "tailwindcss";
:root {
  background-color: #000000;
}
p {
  color: #99a1af;
}
a {
  color: #99a1af;
}
span {
  color: #99a1af;
}
button {
  color: #99a1af;
}
h1 {
  color: #99a1af;
}
h2 {
  color: #99a1af;
}
input:-webkit-autofill {
  background-color: #0a0a0a !important;
  -webkit-box-shadow: 0 0 0 1000px #0a0a0a inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 9999s ease-in-out 0s;
}
