  <header
    class="sticky top-0 z-50 w-full border-b bg-[#0a0a0a]/95 backdrop-blur supports-[backdrop-filter]:bg-[#0a0a0a]/60"
  >
    <div class="container flex h-14 items-center">
      <div class="mr-4 hidden md:flex">
        <a class="mr-6 flex items-center space-x-2" href="/luhan/">
          <span class="hidden font-bold sm:inline-block">Luhan.technology</span>
        </a>
        <nav class="flex items-center space-x-6 text-sm font-medium">
          <a href="#about" class="transition-colors hover:text-foreground/80">
            About
          </a>
          <a
            href="#projects"
            class="transition-colors hover:text-foreground/80"
          >
            Projects
          </a>
          <a href="#contact" class="transition-colors hover:text-foreground/80">
            Contact
          </a>
        </nav>
      </div>
      <button
        class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors border border-input bg-background hover:bg-accent hover:text-foreground h-10 px-4 py-2 ml-auto"
      >
        Resumen
      </button>
    </div>
  </header>